
<h3>BookTable</h3>

<table class="table table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>Titel</th>
            <th>Price</th>
            <th>Author Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <Virtualize ItemsProvider="LoadBooks" Context="book">
            <tr>
                <td>
                    <img src="@book.Image" width="100" height="100" alt="@book.Title" />
                </td>
                <td>@book.Title</td>
                <td>@book.Price.ToString("C")</td>
                <td><a class="btn btn-link" href="/authors/details/@book.AuthorId">@book.AuthorName</a></td>
                <td>
                    <a class="btn btn-primary" href="/books/details/@book.Id">Details</a>
                    <AuthorizeView Roles="Administrator">
                        <a class="btn btn-warning" href="/books/Update/@book.Id">Update</a>
                        <button class="btn btn-danger" @onclick=@(() => DeleteBook(book.Id))>Delete</button>
                    </AuthorizeView>
                </td>
            </tr>
        </Virtualize>
    </tbody>
</table>
